.container {
  background-color: #f5f5f5;
  height: 100%;

  .sectionHeader {
    position: relative;
    height: 15rem;
    background-color: #b3b3b3;
    box-shadow: 30px 0px 30px 0px rgba(120, 120, 120, 0.45);

    form {
      width: 100%;
      display: flex;
      justify-content: center;

      .searchMovie {
        position: absolute;
        outline: none;
        font-size: 2.5rem;
        padding: 5px 15px;
        bottom: 20px;
        height: 50px;
        width: 70rem;
        border-radius: 30px;
        border: none;
        box-shadow: 1px 19px 38px 0px rgba(120, 120, 120, 0.45);

        &::placeholder {
          color: #dbdbdb;
          font-weight: 100;
        }
      }
    }
  }

  .moviesContainer {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .loadingContainer {
      grid-column: 1 / span 3;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
    }
  }

  .pictureContainer {
    position: relative;

    .closeButton {
      cursor: pointer;
      font-size: 24px;
      font-weight: 500;
      position: absolute;
      top: -40px;
      right: -35px;
    }

    img {
      border-radius: 16px;
    }
  }
}
