header {
  height: 50px;
  background-color: #3b3b3b;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 1px 19px 38px 0px rgba(120, 120, 120, 0.45);

  span {
    color: #fff;
    font-size: 30px;
  }
}
